aclocal.m4
compile
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
*~
*.la
*.lo
gst-kurento-plugin.kdev4
.libs
.deps
.kdev_include_paths
.kdev*
Makefile
.cproject
.project
*.anjuta*
*.swp
*kdev4
*.log
*.trs
*.o
*.reg
sub
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
gstkurento-marshal.c
gstkurento-marshal.h
kms-enumtypes.c
kms-enumtypes.h
kms-marshal.c
kms-marshal.h
.directory
*.tmp
