Source: kms-core-6.0
Section: utils
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 pkg-config,
 kms-cmake-utils (>= 1.3.2),
 libgstreamer1.5-dev (>= 1.7.1~0),
 kms-jsonrpc-1.0-dev (>= 1.1.2),
 libsigc++-2.0-dev,
 libglibmm-2.4-dev,
 libglib2.0-dev (>= 2.46),
 libgstreamer-plugins-base1.5-dev (>= 1.7.1~0),
 gstreamer1.5-plugins-base (>= 1.7.1~0),
 gstreamer1.5-libav,
 gstreamer1.5-plugins-bad (>= 1.7.1~0),
 gstreamer1.5-plugins-good (>= 1.7.1~0),
 gstreamer1.5-plugins-ugly (>= 1.7.1~0),
 kurento-module-creator-4.0 (>= 4.0.6),
 libvpx-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-test-dev,
 libboost-regex-dev,
 libxml2-utils,
 uuid-dev
Standards-Version: 3.9.4
Homepage: http://kurento.org
Vcs-Git: git://github.com/Kurento/kms-core.git
Vcs-Browser: https://github.com/Kurento/kms-core.git

Package: kms-core-6.0
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglib2.0-0 (>= 2.46),
 gstreamer1.5-plugins-base (>= 1.7.1~0),
 gstreamer1.5-libav,
 gstreamer1.5-plugins-bad (>= 1.7.1~0),
 gstreamer1.5-plugins-good (>= 1.7.1~0),
 gstreamer1.5-plugins-ugly (>= 1.7.1~0),
 kms-jsonrpc-1.0 (>= 1.1.0)
Breaks:
 kms-core
Replaces:
 kms-core
Description: Kurento core module
 Kurento core module and libraries

Package: kms-core-6.0-dev
Architecture: any
Depends: kms-core-6.0 (= ${binary:Version}),
 kms-cmake-utils (>= 1.3.2),
 libgstreamer1.5-dev (>= 1.5.0~0),
 kms-jsonrpc-1.0-dev (>> 0.2.2),
 libsigc++-2.0-dev,
 libglibmm-2.4-dev,
 libgstreamer-plugins-base1.5-dev (>= 1.5.0~0),
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-test-dev,
 libboost-regex-dev,
 kurento-module-creator-4.0 (>= 4.0.6)
Breaks:
 kms-core-dev
Replaces:
 kms-core-dev
Description: Kurento core module
 Kurento core module and libraries development files

Package: kms-core-6.0-dbg
Architecture: any
Depends: kms-core-6.0 (= ${binary:Version})
Breaks:
 kms-core-dbg
Replaces:
 kms-core-dbg
Description: Kurento core module
 Kurento core module and libraries debugging symbols
